<div class="container vh-100 d-flex justify-content-center align-items-center bg-light background-color: #eee;">
  <div class="card shadow-lg p-4" style="border-radius: 25px; max-width: 600px; width: 100%;">
    <div class="card-body">
      <h2 class="text-center mb-4">Sign Up</h2>
      <form (ngSubmit)="onUserSave()" [formGroup]="userForm">
        <div class="mb-3">
          <label for="name" class="form-label">Your Name</label>
          <input type="text" class="form-control" formControlName="uName" id="name" required>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Your Email</label>
          <input type="email" class="form-control" formControlName="eMail" id="email" required>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="uPassword" id="password" required>
        </div>

        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Repeat your password</label>
          <input type="password" class="form-control" formControlName="uRePassword" id="confirmPassword" required>
        </div>

        <div class="form-check mb-3 text-center">
          <input class="form-check-input" formControlName="isAgree" type="checkbox" id="termsCheck" required>
          <label class="form-check-label" for="termsCheck">
            I agree to all statements in <a href="#">Terms of service</a>
          </label>
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary btn-lg">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
