<div class="container vh-100 d-flex justify-content-center align-items-center bg-light background-color: #8fc4b7;">
  <div class="card shadow-lg p-4" style="border-radius: 25px; max-width: 400px; width: 100%;">
    <div class="card-body">
      <h2 class="text-center mb-4">Login</h2>

      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="mb-3">
          <label>Email</label>
          <input class="form-control" formControlName="eMail">
        </div>
        <div class="mb-3">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="uPassword">
        </div>
        <button class="btn btn-success">Login</button>
      </form>
    </div>
  </div>
</div>
